
// Repeated elements goes in here

.no-overflow{
    height: 100%;
    overflow: auto;
}

.collapsing {
    -webkit-transition: none;
    transition: none !important;
    display: none;
    transition-duration: 0;
}

.blue-gradiant{
    transition: 0.4s;
    background-image: -moz-linear-gradient( 90deg, rgb(26, 98, 136) 0%, rgb(92, 170, 210) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(26, 98, 136) 0%, rgb(92, 170, 210) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(26, 98, 136) 0%, rgb(92, 170, 210) 100%);
}

.blue-gradiant-reverse{
    transition: 0.4s;
    background-image: -moz-linear-gradient( -90deg, rgb(26, 98, 136) 0%, rgb(92, 170, 210) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(26, 98, 136) 0%, rgb(92, 170, 210) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(26, 98, 136) 0%, rgb(92, 170, 210) 100%);
}

.bg-black{
    background-color: $dark-color;
    color: white;
}

.bg-white{
    background-color: white;
    color: $gray-color;
}

.bg-gray{
    background-color:  $light-gray-color;
    color: $gray-color;
}

.btn-blue{
    @extend .blue-gradiant;
    box-shadow: 0px 1px 0px 0px rgba(39, 39, 39, 0.004);
    border-radius: 2px;
    text-shadow: 0 -1px 0 black;
    color: rgb(226, 225, 225);
    padding: 5px 30;
    transition: 0.4s;
    &:hover{
        @extend .blue-gradiant-reverse;
        color: white;
    }

}

.text-blue{
    color: $main-color;
    
}

.pages{
    .page-item {
        margin-right: 6px;
        .page-link{
            background-color: #eeeeee;
            color: #9d9a9a;
            border-radius: 0px;
        }
    }
    .page-item.active .page-link{
        background-color: #c1c1c1;
        border-color: #c1c1c1;
        color: white;
    }

}