/* For mobile phones: */
@media only screen and (max-width: 600px) {
    #nav-btn{
        display: block;
        background: transparent;
        border: none;
        .navbar-toggler-icon{
            transition: 0.3s; 
        }
        &:focus {
            outline: none !important;
            box-shadow: none;
         }
    }

    #nav-btn.active{
        span{
            transform: rotate(-90deg);
        }
    }

    .container{
        padding: 0px;
    }

    .bm-shadow{
        display: none;
    }

    #navbarContent {
        padding: 25px;
        position: fixed;
        z-index: 5;
        background: #2b2b2b;
        height: 100vh;
        top: 55px;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translate(100%);
        transition: 0.3s;
        display: block!important;
    }

    #navbarContent.active{
        transform: translate(0%); 
    }

    #carouselControls {
        img {
            height: 300px;
            width: auto!important; 
        }
    }

    .news-bar{
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

    .social-icons div{
        text-align: center;
    }

    figure.post-item .d-flex{
        flex-direction: column !important;
        h2{
            margin-top: 15px;
        }
    }
    .current-page{
        display: none;
    }

    #main-content{
        flex-direction: column!important;
    }

    section#sponsors {
        border-top: 2px dashed;
        background: #e8e8e8;
        .brands-container .brands {
            grid-template-columns: auto auto;
        }
    }
    footer{
        .d-flex{
            flex-direction: column;
        }
    }

    #to-top{
        width: 40px;
        height: 40px;
        position: fixed;
        bottom: 15px;
        right: 15px;
        transition: 0.5s;
        border-radius: 50px;
        background-color: $main-color;
        background-image: url('../img/up.svg');
        background-repeat: no-repeat;
        background-size: 15px;
        background-position: center;
        transform: translateX(100px);
    }

    #to-top.active{
        transform: translateX(0%);
    }
    .results {
        width: 100vw!important;
        height: calc(100vh - 123px);
        left: -25px;
        right: 0px;
        overflow: scroll;
        transition: 0.4s;
        &::after{
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
            content: '';
            width: 100vw;
            height: 52px;
            left: 0;
            right: 0;
            bottom: 55px;
            
            position: fixed;
            pointer-events: none;
            transition: 0.4s;
        }
    }
    .results.active {
        &::after{
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
            content: '';
            width: 100vw;
            height: 52px;
            left: 0;
            right: 0;
            bottom: 55px;
            position: fixed;
            pointer-events: none;
            transform: translateY(100%);
        }
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    #nav-btn{
        display: none;
    }
    .container{
        width: 990px;
    }
    nav{
        img{
            width: 390px;
        }
    }
}
