// Import childs here


@import "variables.scss";

@import "fonts.scss";



@import "global.scss";


// Main css goes here

body{
    background: #012f5a;
    color: white;
    font-family: 'garamond';
    background-image: url('../img/bg.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}  
 
p{
    margin-bottom: 0px;
}
nav{
    img {
        width: 179px;
    }

    .search-icon{
        background-image: url('../img/search.svg');
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        position: absolute;
        margin-left: 10px;
        margin-top: 3px;
    }

    input[type="search"]{
        border-radius: 20px;
        padding: 10px;
        font-size: 11px;
        height: 30px;
        padding-left: 35px;
    }

    #navbarSupportedContent{
        flex-direction: column;
        align-items: flex-end;
        a{
            text-transform: uppercase;
            font-size: 12px;
        }
        
    }
        
}


.results-container{
    position: absolute;
    .results {
        position: absolute;
        z-index: 4;
        width: 300px;
        margin-top: 20px;
        background: white;
        color: black;
        padding: 20px;
        list-style-type: none;
        li{
            border-bottom: 1px solid #efefef;
            margin-bottom: 5px;
            padding-bottom: 5px;
            a{
                color: black;
            }
        }
    }
}


#slider{

    .news-bar{
        h1{
            font-size: 25px;
            text-align: left;
            color: #a3a3a3;
        }
    }
    
    .dark-overlay {
        background-color: rgba(0, 0, 0, 0.4);
        font-size: 13px;
        position: absolute;
        padding: 20px 20px;
        text-align: right;
        bottom: 0;
        right: 0;
        left: 0;
        p{
            margin: 0;
        }
    }
    
}

.posts{
    .post-item{
        
        border-bottom: 1px solid #efefef;
        padding-bottom: 15px;
        margin-bottom: 15px;
        img{
            object-fit: cover;
        }
        h2{
            font-size: 20px;
            margin-bottom: 0;
        }
        .body{
            font-size: 15px;
            color: $gray-color;
            height: 66px;
            overflow: hidden;
        }
    }
}


.social-icons{

    .soic{
        background-image: url('../img/social-icons.jpg');
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        display: inline-block;
        background-position-y: -11px;        
    }
    .face{
        background-position-x: -59px;
    }

    .twitter{
        background-position-x: -6px;
    }

    .rss{
        background-position-x: -113px;
    }

    .git{
        background-position-x: -168px;
    }

    .gmail{
        background-position-x: -223px;
    }
}

.widgets{
    $gradiant-wid: 90deg, #ffffff 0%, #e7e7e7 53%;
    background-image: -moz-linear-gradient($gradiant-wid);
    background-image: -webkit-linear-gradient($gradiant-wid);
    background-image: -ms-linear-gradient($gradiant-wid);
    color: #5f5f5f;
    .widget{
        margin-bottom: 30px;
        h3{
            margin-bottom: 20px;
        }
        .list-group{
            li{
                list-style-type: none;
            }
        }
    }
}

.brands-container{
    .brands{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        column-gap: 10px;
        row-gap: 10px;
       .brand-item{
            display: flex;
            justify-content: center;
            align-items: center;
            border: 6px solid #e9e9e9;
            border-radius: 0px;
            img{
                max-width: 90px;
                max-width: 90px;
            }
       }
    }
}

.modal{
    color: black;
}

footer{
    padding-bottom: 10px;
    .bm-shadow {
        width: 100%;
        height: 90px;
        transform: scale(1.2);
        position: relative;
        z-index: 3;
        margin-top: -33px;
        background-image: url('../img/shadow.png');
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 91%;
    }
    h2{
        font-size: 20px;
    }
    p{
        font-size: 15px;
        color: #6f6e6e;
        span, .quote{
            color: #a3a3a3;
        }
    }
    #flickr{
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 10px;
        row-gap: 10px;
        
        .fl-item{
            border: 1px solid #5f5f5f;
            height: 80px;
            background-size: cover;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            transition: 0.5s;
            &:hover{
                -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                filter: grayscale(0%);
            }
        }
    }
}


@import "responsive.scss";